[Unit]
Description=MQTT Pi Controller
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/mqttpi
ExecStart=/home/pi/mqttpi/bin/mqttpi
Restart=always
RestartSec=5
User=pi
Environment=MQTT_BROKER=homeassistant.local
Environment=MQTT_PORT=1883

[Install]
WantedBy=multi-user.target

