<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>local.mqttpi</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/chnes/Documents/mqttpi/bin/mqttpi</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>MQTT_BROKER</key>
    <string>homeassistant.local</string>
    <key>MQTT_PORT</key>
    <string>1883</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/chnes/Library/Logs/mqttpi.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/chnes/Library/Logs/mqttpi.err.log</string>
</dict>
</plist>

